{% extends "base.html" %}
{% load static %}
{% block title %}<title>Signup Page</title>{% endblock  %}

{% block content %}
{%load crispy_forms_tags %}  

<div class="profile-section d-flex justify-content-center align-items-center p-2">
  <div class="profile-data w-50">
    <form style = "width: 70% ; margin: auto;" method='post' novalidate>
      {% csrf_token %}
      {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{er}} </p>
      {% endfor %}
      {% endif %}
      <!--{{ form | crispy }} -->
      {% for fm in form %}
      {{fm.label_tag}}
      {{fm}}
      {{fm.errors | striptags}}
      {% endfor %}
      <br/>
    
      <button type="submit" class="btn btn-primary">SignUp</button>
    </form>
    
    
  </div>
  <div class="profile-img w-50">
    <img class='ps-5' style="width: 90%;" src="{% static 'sign-up-img-1.avif' %}" alt="">
    
  </div>
  
</div>
{% endblock %}


